.experienceSection {
    background-color: var(--background-lingth);
    padding: 6rem 0;
}

.experienceSection .cradsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 80%;
    margin: auto;
}

.experienceSection .cradsContainer .cardExperience {
    display: flex;
    gap: 26px;
    padding: 32px;
    border-radius: 12px;
    background-color: var(--background-card);
    border: 2px solid #e5e7eb;
    width: 100%;
}

.experienceSection .cradsContainer .cardExperience .imgCard .companyImg {
    border-radius: 16px;
    width: 76px;
    height: 76px;
}

.experienceSection .cradsContainer .cardExperience .infocard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.experienceSection .cradsContainer .cardExperience .infocard .topInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.experienceSection .cradsContainer .cardExperience .infocard .topInfo .position {
    font-size: 24px;
    font-weight: 700;
    color: #111827;
    margin: 0;
}

.experienceSection .cradsContainer .cardExperience .infocard .topInfo .company {
    font-size: 18px;
    font-weight: 700;
    color: #2563EB;
    margin: 0;
}

.experienceSection .cradsContainer .cardExperience .infocard .description {
    font-size: 18px;
    margin: 0 0 24px 0;
    color: #4B5563;
    text-align: left;
    width: 100%;
}

.experienceSection .cradsContainer .cardExperience .infocard .technologies {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.experienceSection .cradsContainer .cardExperience .infocard .technologies .tech {
    padding: 4px 12px;
    background-color: #FFEDD5;
    border: 1px solid #c2400c3a;
    color: #C2410C;
    font-size: 14px;
    border-radius: 50px;
}