.headerSection {
    background-color: var(--background-lingth);
    border-bottom: 2px solid #e5e7eb;
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
}

.headerSection .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 0;
}

.headerSection .headerContainer .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 22px;
    padding: 4px;
}

.headerSection .headerContainer .nav .options {
    transition: all 150ms ease;
}

.headerSection .headerContainer .nav .options a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    padding: 3px 2px;
    font-size: 18px;
    color: var(--foreground);
    border-bottom: 1px solid var(--background-lingth);
    text-decoration: none !important;
}

.headerSection .headerContainer .nav .options a:hover {
    border-bottom: 1px solid var(--accent);
}

.headerSection .headerContainer .nav .btn {
    min-width: unset;
}

.headerSection .headerContainer .toggleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.headerSection .headerContainer .toggleBtn {
    display: flex;
    justify-content: center;
    background-color: var(--background-lingth);
    border: 1px solid var(--accent);
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}