.banner-central {
  padding-top: 130px;
  height: 93vh;
}

.banner-central .bannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background);
  height: 76vh;
  margin: auto;
}

.banner-central .bannerContainer .linea-franja {
  background-color: var(--background);
  position: relative;
  width: 100%;
}

.banner-central .bannerContainer .linea-franja .linea {
  border: 2px solid var(--text);
  margin: auto;
  width: 100%;
}

.banner-central .bannerContainer .infoTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-central .bannerContainer .infoTop .hello {
  font-size: 32px;
  color: var(--accent);
}

.banner-central .bannerContainer .infoTop .name {
  font-size: 124px;
  font-weight: 400;
  color: var(--text);
  line-height: 0.9;
  margin: 0;
}

.banner-central .bannerContainer .infoTop .btnsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: fit-content;
  margin-top: 25px;
}

.banner-central .bannerContainer .infoBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.banner-central .bannerContainer .infoBottom .about h2 {
  font-size: 44px;
  margin: 0;
}

.banner-central .bannerContainer .infoBottom .about p {
  font-size: 22px;
  margin-top: 15px;
}

.banner-central .bannerContainer .infoBottom .presentation {
  font-size: 22px;
}

.banner-central .bannerContainer .infoBottom .presentation span {
  border-bottom: 2px solid var(--accent);
}