.skillSection {
    padding: 6rem 0;
}

.skillSection .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
}

.skillSection .cardContainer .cardSkill {
    background-color: var(--background-lingth);
    border: 2px solid #e5e7eb;
    width: 26%;
    padding: 32px;
    border-radius: 12px;
}

.skillSection .cardContainer .cardSkill .cardTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    margin-bottom: 24px;
}

.skillSection .cardContainer .cardSkill .cardTitle .title {
    font-size: 20px;
    color: #111827;
    font-weight: 700;
    margin: 0;
}

.skillSection .cardContainer .cardSkill .cardTitle .icon {
    filter: brightness(0) saturate(100%) invert(69%) sepia(42%) saturate(6733%) hue-rotate(348deg) brightness(97%) contrast(102%);
}

.skillSection .cardContainer .cardSkill .cardInfo .techContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 8px 0;
}

.skillSection .cardContainer .cardSkill .cardInfo .techContainer .techLevel {
    color: var(--accent);
}

.skillSection .cardContainer .cardSkill .cardInfo .levelLine {
    background-color: #E5E7EB;
    width: 100%;
    height: 8px;
    border-radius: 50px;
}

.skillSection .cardContainer .cardSkill .cardInfo .levelLine .line {
    color: #E5E7EB;
}