.experienceSection {
  background-color: var(--background-lingth);
  padding: 6rem 0;

  .cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 80%;
    margin: auto;

    .cardExperience {
      display: flex;
      gap: 26px;
      padding: 32px;
      border-radius: 12px;
      background-color: var(--background-card);
      border: 2px solid var(--card-foreground);

      .imgCard {
        .companyImg {
          border-radius: 16px;
          width: 76px;
          height: 76px;
        }
      }

      .infocard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        width: 100%;

        .topInfo {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .position {
            font-size: 24px;
            font-weight: 700;
            color: var(--text);
            margin: 0;
          }

          .company {
            font-size: 18px;
            font-weight: 700;
            color: #2563EB;
            margin: 0;
          }
        }

        .description {
          font-size: 18px;
          margin: 0 0 24px 0;
          color: var(--text);
          text-align: left;
          width: 100%;
        }

        .technologies {
          display: flex;
          justify-content: flex-start;
          gap: 12px;
          flex-wrap: wrap;

          .tech {
            padding: 4px 12px;
            background-color: var(--tech-background);
            border: 1px solid var(--tech-border);
            color: var(--tech-text);
            font-size: 14px;
            border-radius: 50px;
          }
        }
      }
    }
  }
}


@media (max-width: 992px) {
  .experienceSection .cardsContainer {
    width: 100%;
  }
  .experienceSection .cardsContainer .cardExperience .infocard {
    gap: 16px;
  }
  .experienceSection .cardsContainer .cardExperience .infocard .topInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
  .experienceSection .cardsContainer .cardExperience .infocard .topInfo .extraInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .experienceSection .cardsContainer .cardExperience {
    flex-direction: column;
    gap: 16px;
  }
  .experienceSection .cardsContainer .cardExperience .imgCard .companyImg {
    width: 56px;
    height: 56px;
  }
}

@media (max-width: 576px) {
  .experienceSection .cardsContainer .cardExperience .infocard .topInfo {
    gap: 16px;
  }
  .experienceSection .cardsContainer .cardExperience .infocard .topInfo .extraInfo {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .experienceSection .cardsContainer .cardExperience .infocard .topInfo .position {
    font-size: 22px;
  }
  .experienceSection .cardsContainer .cardExperience .infocard .description {
    font-size: 16px;
  }
}

@media (max-width: 376px) {
  .experienceSection .cardsContainer .cardExperience {
    padding: 32px 22px;
  }
}