.franjaSection {
    background-color: var(--franja-background);
    padding: 10px 24px;
}

.franjaSection .franjaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.franjaSection .franjaContainer .social a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.franjaSection .franjaContainer .social .franjaImg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7493%) hue-rotate(247deg) brightness(98%) contrast(99%);
}