.headerSection {
  background-color: var(--background-lingth);
  border-bottom: 2px solid var(--card-foreground);
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 0;
    position: relative;

    .nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 22px;
      padding: 4px;

      .options {
        transition: all 150ms ease;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          cursor: pointer;
          padding: 3px 2px;
          font-size: 18px;
          color: var(--foreground);
          border-bottom: 1px solid var(--background-lingth);
          text-decoration: none !important;

          &:hover {
            border-bottom: 1px solid var(--accent);
          }
        }
      }

      .btn {
        min-width: unset;
      }
    }
  
    .menuButton {
      display: none;
    }

    .toggleBtn {
      display: flex;
      justify-content: center;
      background-color: var(--background-lingth);
      border: 1px solid var(--accent);
      border-radius: 6px;
      padding: 6px;
      cursor: pointer;
    }
  }

  @media (max-width: 992px) {
    .headerContainer {
      .menuHeader {
        align-items: end;
        flex-direction: column;
        background-color: var(--background-lingth);
        height: 100vh;
        justify-content: start;
        margin: 0;
        position: fixed;
        right: 0;
        top: -21px;
        left: 1020px;
        transition: transform .5s ease-in-out;
        width: 100%;
        z-index: 2;
          .nav {
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 25px;
            .options a {
              font-size: 20px;
            }
          }
          &.open {
            top: 58px;
            transform: translateX(-1020px);
          }
      }
      .menuButton {
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%) scale(1.5);
        cursor: pointer;

        span {
          background-color: var(--text);
          display: block;
          position: relative;
          height: 2px;
          width: 16px;
          border-radius: 9px;
          margin: 3px 0;
          transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        &.open {
          span:nth-child(1) {
            transform: rotate(45deg) translate(2.6px, 4.8px);
          }

          span:nth-child(2) {
            opacity: 0;
          }

          span:nth-child(3) {
            transform: rotate(-45deg) translate(2.6px, -4.8px);
          }
        }
      }
      .toggleBtn {
        margin-right: 50px;
      }
    }
  }
}