.skillSection {
  padding: 6rem 0;
  background: var(--background-lingth);

  .skillContainer {
    max-width: 1792px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .mainContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      align-items: start;

      .skillsCard {
        background: white;
        border-radius: 1.5rem;
        padding: 12px;
        background-color: var(--background-card);
        border: 2px solid var(--card-foreground);

        .logosContainer {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 1.5rem;

          .skillLogo {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.75rem;
            border-radius: 0.75rem;
            transition: all 0.3s ease;
          }

          .skillName {
            font-size: 14px;
            color: var(--text);
            text-align: center;
            font-weight: 500;
            margin: 0;
          }
        }

        .levelLegend {
          margin-top: 2rem;
          padding-top: 1.5rem;
          border-top: 1px solid var(--card-foreground);

          .legend-title {
            text-align: center;
            font-size: 0.875rem;
            font-weight: 700;
            color: var(--text);
            margin-bottom: 0.75rem;
          }

          .legend-items {
            display: flex;
            justify-content: center;
            gap: 1.5rem;

            .legend-item {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              .legend-dot {
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 50%;
              }

              .legend-label {
                font-size: 0.75rem;
                color: var(--text);
              }
            }
          }
        }
      }

      .skillFilterContainer {
        display: flex;
        flex-direction: column;

        .filtersContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 8px;

          .filterButton {
            padding: 0.75rem 1rem;
            border-radius: 0.75rem;
            font-weight: 500;
            transition: all 0.3s ease;
            font-size: 0.875rem;
            border: none;
            cursor: pointer;
            position: relative;
            width: fit-content;

            &.active {
              background-color: #f97316;
              color: white;
            }

            &:not(.active) {
              background-color: var(--background-card);

              &:hover {
                color: #f97316;
              }
            }

            .filterCount {
              margin-left: 0.5rem;
              font-size: 0.75rem;
              background-color: rgba(0, 0, 0, 0.1);
              padding: 0.25rem 0.5rem;
              border-radius: 9999px;
            }
          }
        }

        .radarchartContainer {
          position: relative;

          .radar-canvas {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }

  // Responsive
  @media (max-width: 1400px) {
    .skillContainer {
      .mainContainer {
        grid-template-columns: 1fr 2fr;
        .skillsCard{
          .logosContainer {
            gap: 14px;
          }
        }
      }
      .skillFilterContainer {
        .filtersContainer {
          .filterButton{
            padding: 8px 12px;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .skillContainer {
      .mainContainer {
        grid-template-columns: 1fr;
        gap: 2rem;
      }
    }
  }

  @media (max-width: 992px) {
    .skillContainer {
      padding: 0;
      .mainContainer {
        grid-template-columns: 1fr;
        gap: 5rem;
        .skillsCard {
          .logosContainer {
            gap: 4px;
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    .skillContainer {
      padding: 0 1rem;

      .mainContainer {
        .skillsCard,
        .skillFilterContainer .radarchartContainer {
          padding: 1rem;
        }

        .skillsCard {
          .logosContainer {
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);
          }
        }

        .skillFilterContainer .filtersContainer {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  @media (max-width: 460px) {
    .skillContainer {
      .mainContainer {
        .skillsCard,
        .skillFilterContainer .radarchartContainer {
          padding: 0;
        }
        .skillsCard {
          .logosContainer {
            grid-template-columns: repeat(3, 1fr);
          }
        }
        .skillsCard .levelLegend .legend-items {
          flex-wrap: wrap;
          gap: 0;
          .legend-item {
            padding: 0 8px 8px;
          }
        }
      }
    }
  }

  @media (max-width: 376px) {
    .skillContainer .mainContainer .skillsCard .logosContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}