
:root {
  --radius: 6px;
  --banner-background: #eff6ff;
  --background-lingth: #ffff;
  --background-dark: #eff6ff;
  --background-card: #F9FAFB;
  --foreground: #252D59;
  --text: #252D59;

  --card-background-ligth: #ffffff;
  --card-background-dark: #ffffff;
  --card-foreground: #e5e7eb;

  --navbar-background: #d8dfee;

  --tech-background: #FFEDD5;
  --tech-text: #C2410C;
  --tech-border: #c2400c3a;

  --proyectos-card: linear-gradient(#0000004d 0%, #00000045 40%, #000000e3 100%);
  --proyectos-overlay: #000000b5;

  --accent: #f97316;
  --accent-hover: #cc5e04;
  --accent-blue: #4646d1;
  --accent-foreground: #252D59;

  --text-buttons: #F2F2F2;

  --sidebar-primary: #252D59;
  --sidebar-accent-foreground: #252D59;
  --franja-background: #252D59;

  --filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(6%) hue-rotate(188deg) brightness(98%) contrast(100%);
}

/* === DARK MODE VARIABLES === */
.dark {
  --background: #191e29;
  --banner-background: #191e29;
  --background-lingth: #1f2937;
  --background-dark: #191e29;
  --background-card: #191e29;
  --foreground: #F2F2F2;
  --text: #F2F2F2;

  --card-background-ligth: #1f2937;
  --card-background-dark: #292929;
  --card-foreground: #374151;

  --navbar-bacground: #858585;

  --tech-background: #c2400c3a;
  --tech-text: #cdb698;
  --tech-border: #96492acf;

  --proyectos-card: linear-gradient(#0000004d 0%, #00000045 40%, #cececee3 100%);
  --proyectos-overlay: #fffefebe;

  --accent: #f97316;
  --accent-hover: #f97316;
  --accent-blue: #4646d1;
  --accent-foreground: #F2F2F2;

  --text-buttons: #252D59;

  --popover-foreground: #252D59;

  --sidebar-foreground: #F2F2F2;
  --sidebar-primary-foreground: #F2F2F2;
  --sidebar-accent-foreground: #F2F2F2;
  --secondary-foreground: #F2F2F2;

  --franja-background: #f97316;

  --filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(173deg) brightness(104%) contrast(104%);
}

/* === BASE STYLES === */

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html, body {
  font-family: 'Poppins';
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  margin: 0;
}

* {
  border-color: var(--border, #ddd); /* fallback */
  outline-color: rgba(0, 0, 0, 0.5); /* similar to outline-ring/50 */
}

/* === CONTAINER CLASS === */
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* === TITLE CLASS === */
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  text-align: center;
  margin-bottom: 60px;

  .title {
    font-size: 26px;
    color: var(--accent);
    margin: 0;
  }
  .subtitle{
    font-size: 44px;
    margin: 0;
  }
} 

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .titleContainer {
    .title {
      font-size: 20px;
    }
    .subtitle {
      font-size: 32px;
      line-height: 1;
    }
  }
}