
:root {
  --radius: 6px;
  --background-lingth: #ffff;
  --background-dark: #eff6ff;
  --background-card: #F9FAFB;
  --banner-background: #eff6ff;
  --foreground: #252D59;
  --text: #252D59;

  --card-background: #ffffff;
  --card-foreground: #252D59;

  --accent: #f97316;
  --accent-hover: #cc5e04;
  --accent-blue: #4646d1;
  --accent-foreground: #252D59;

  --text-buttons: #F2F2F2;

  --sidebar-primary: #252D59;
  --sidebar-accent-foreground: #252D59;
  --franja-background: #252D59;
}

/* === DARK MODE VARIABLES === */
.dark {
  --background: #191e29;
  --background-lingth: #191e29;
  --background-dark: #191e29;
  --banner-background: #191e29;
  --foreground: #F2F2F2;
  --text: #F2F2F2;

  --card-background: #292929;
  --card-foreground: #F2F2F2;

  --accent: #f97316;
  --accent-hover: #f97316;
  --accent-blue: #4646d1;
  --accent-foreground: #F2F2F2;

  --text-buttons: #252D59;

  --popover-foreground: #252D59;

  --sidebar-foreground: #F2F2F2;
  --sidebar-primary-foreground: #F2F2F2;
  --sidebar-accent-foreground: #F2F2F2;
  --secondary-foreground: #F2F2F2;

  --franja-background: #f97316;
}

/* === BASE STYLES === */

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html, body {
  font-family: 'Poppins';
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  margin: 0;
}

* {
  border-color: var(--border, #ddd); /* fallback */
  outline-color: rgba(0, 0, 0, 0.5); /* similar to outline-ring/50 */
}

/* === CONTAINER CLASS === */
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* === TITLE CLASS === */
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  text-align: center;
  margin-bottom: 60px;
}
.titleContainer .title{
  font-size: 26px;
  color: var(--accent);
  margin: 0;
}
.titleContainer .subtitle{
  font-size: 42px;
  margin: 0;
}



/* === OPTIONAL COMPONENT RADIUS === */
.radius-sm {
  border-radius: calc(var(--radius) - 4px);
}
.radius-md {
  border-radius: calc(var(--radius) - 2px);
}
.radius-lg {
  border-radius: var(--radius);
}
.radius-xl {
  border-radius: calc(var(--radius) + 4px);
}
